*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
  color: white;
}

body {
  box-sizing: border-box;
  background-color: black;
}
