.player {
  background-color: green;
  width: 80%;
  max-width: 120rem;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 1rem;
  min-height: 15rem;
}

.card {
  max-height: 15rem;
  max-width: 10rem;

  &__img {
    height: 100%;
    width: 100%;
  }

  &:not(:last-child) {
    margin-right: 2rem;
  }
}
